body{margin-top:20px;
    background:#eee;
    }
    /* Social feed */
    .social-feed-separated .social-feed-box {
      margin-left: 62px;
    }
    .social-feed-separated .social-avatar {
      float: left;
      padding: 0;
    }
    .social-feed-separated .social-avatar img {
      width: 52px;
      height: 52px;
      border: 1px solid #e7eaec;
    }
    .social-feed-separated .social-feed-box .social-avatar {
      padding: 15px 15px 0 15px;
      float: none;
    }
    .social-feed-box {
      /*padding: 15px;*/
      border: 1px solid #e7eaec;
      background: #fff;
      margin-bottom: 15px;
    }
    .article .social-feed-box {
      margin-bottom: 0;
      border-bottom: none;
    }
    .article .social-feed-box:last-child {
      margin-bottom: 0;
      border-bottom: 1px solid #e7eaec;
    }
    .article .social-feed-box p {
      font-size: 13px;
      line-height: 18px;
    }
    .social-action {
      margin: 15px;
    }
    .social-avatar {
      padding: 15px 15px 0 15px;
    }
    .social-comment .social-comment {
      margin-left: 45px;
    }
    .social-avatar img {
      height: 40px;
      width: 40px;
      margin-right: 10px;
    }
    .social-avatar .media-body a {
      font-size: 14px;
      display: block;
    }
    .social-body {
      padding: 15px;
    }
    .social-body img {
      margin-bottom: 10px;
    }
    .social-footer {
      border-top: 1px solid #e7eaec;
      padding: 10px 15px;
      background: #f9f9f9;
    }
    .social-footer .social-comment img {
      width: 32px;
      margin-right: 10px;
    }
    .social-comment:first-child {
      margin-top: 0;
    }
    .social-comment {
      margin-top: 15px;
    }
    .social-comment textarea {
      font-size: 12px;
    }
    .post-description {
      max-height: 200px;
      overflow-y: scroll;
      overflow: auto
    }
    
    .card-img-top {
      max-height: 400px;
      
    }
    
    .form-control, .single-line {
        background-color: #FFFFFF;
        background-image: none;
        border: 1px solid #e5e6e7;
        border-radius: 1px;
        color: inherit;
        display: block;
        padding: 6px 12px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        width: 100%;
        font-size: 14px;
    }
    
    
    .ibox {
      clear: both;
      margin-bottom: 25px;
      margin-top: 0;
      padding: 0;
    }
    .ibox.collapsed .ibox-content {
      display: none;
    }
    .ibox.collapsed .fa.fa-chevron-up:before {
      content: "\f078";
    }
    .ibox.collapsed .fa.fa-chevron-down:before {
      content: "\f077";
    }
    .ibox:after,
    .ibox:before {
      display: table;
    }
    .ibox-title {
      -moz-border-bottom-colors: none;
      -moz-border-left-colors: none;
      -moz-border-right-colors: none;
      -moz-border-top-colors: none;
      background-color: #ffffff;
      border-color: #e7eaec;
      border-image: none;
      border-style: solid solid none;
      border-width: 3px 0 0;
      color: inherit;
      margin-bottom: 0;
      padding: 14px 15px 7px;
      min-height: 48px;
    }
    .ibox-content {
      background-color: #ffffff;
      color: inherit;
      padding: 15px 20px 20px 20px;
      border-color: #e7eaec;
      border-image: none;
      border-style: solid solid none;
      border-width: 1px 0;
    }
    .ibox-footer {
      color: inherit;
      border-top: 1px solid #e7eaec;
      font-size: 90%;
      background: #ffffff;
      padding: 10px 15px;
    }

    .fade-in {
      animation: fadeIn ease 2s;
      -webkit-animation: fadeIn ease 2s;
      -moz-animation: fadeIn ease 2s;
      -o-animation: fadeIn ease 2s;
      -ms-animation: fadeIn ease 2s;
      }
      @keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
      }
      
      @-moz-keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
      }
      
      @-webkit-keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
      }
      
      @-o-keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
      }
      
      @-ms-keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
      }

.modal-content {
  background-color: #131111!important;
}
#create-post-body {
  background-color:  transparent!important;
}
#create-post-desc{
  background-color:  transparent!important;
  border: none;
}
#upload-picture-header {
  color: white!important
}